body{
    background-color: #C6D2ED;
}

h1{
    background-color: #abcdef;
}
footer{
    background-color:#FFF8E7;
}
button{
    background-color:#CDB2AB;
    border-radius: 10px;
    border: none;
    width: 10%;
    height: 10%
}